  <div class="cover-container w-100 h-100 p-3 d-flex text-center flex-column justify-content-center align-items-center">
    <div class="px-3 main-content-center">

      <h1><%= @expressionsample.sentence %></h1>
      <p class="lead"><%= @expressionsample.definition %></p>
      <p class="lead">
        <a href="#" class="btn btn-lg btn-custom fw-bold">Muéstrame otro</a>
      </p>
    </div>
  </div>


<%= turbo_frame_tag @todo do %>
  <p><%= @todo.description %></p>

  <%= link_to 'Edit this todo', edit_todo_path(@todo) %>
<% end %>
